.header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  padding: 20px 60px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .new-link {
      color: #d43e3e;
      font-size: 1.3rem;
      font-weight: bold;
      margin: 10px;
      cursor: pointer;
    }

  .header-link {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
  }

    .option {
      padding: 10px 15px;
    }
  }
}
